.nav .l-nav {
  position: fixed;
  top: 0px;

}

.nav .r-nav {
  position: fixed;
  top: 0px; right: 165px
}

div.l-footer {
  position: fixed;
  bottom: 0px; left: 15px;
}

div.r-footer{
  position: fixed;
  bottom: 0px; right: 15px;
}
div.search {
  position: relative;
  top: 300px; left: 500px;
}
